.content {
  margin-top: 0rem;
  background-color: #90adc6;
  color: white;
  height: 8rem;
}

.line {
  margin-top: 4rem;
  background-color: #ffffff;
  width: 80%;
  height: 0.1rem;
}

.title {
  margin-bottom: 0.8rem;
}
